doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='msapplication-tap-highlight', content='no')
        title Open Orange
        link(href='css/materialize-0.97.6.min.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(rel='stylesheet', href='css/material-icons.css')
        link(rel='stylesheet', href='css/font-awesome.min.css')
        link(href='css/superlist.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/awesomplete.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/perfect-scrollbar.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/app.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(rel="stylesheet",href=templatesCSS,type="text/css")

    body

    script(type='text/javascript', src='js/plugins/jquery/jquery-2.1.4.min.js')
    script(type='text/javascript', src='js/plugins/babel/polyfill.min.js')
    script(src='/bower_components/moment/moment.js')
    script(src='/bower_components/chance/dist/chance.min.js')
    script(src='/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src="/bower_components/bluebird/js/browser/bluebird.min.js")
    script(src='js/plugins/mustache/mustache.min.js')
    script(src='js/plugins/handlebars/handlebars.min.js')
    script(src='js/plugins/typeahead/typeahead.bundle.min.js')

    //OPENORANGE
    script(type='text/javascript', src="js/plugins/superlist/superlist.js")
    script(type='text/javascript', src="js/plugins/awesomplete/awesomplete.js")
    script(src=OpenOrangeBaseURL + '/socket.io/socket.io.js')
    script(src=OpenOrangeBaseURL +'/lib/client/md5.min.js')
    script(src=OpenOrangeBaseURL+ '/lib/client/openorange.js')
    script(src=OpenOrangeBaseURL+'/lib/both/BaseEntity.js')
    script(src=OpenOrangeBaseURL+'/lib/both/UIEntity.js')
    script(src=OpenOrangeBaseURL+'/lib/both/explorer.js')
    script(src=OpenOrangeBaseURL+'/lib/both/basequery.js')
    script(src=OpenOrangeBaseURL+'/lib/client/clientquery.js')
    script(src='js/oo/ui.js')
    script(src='js/oo/templates.js')
    script(src='js/oo/windowmanager.js')
    script(src='js/oo/listwindowmanager.js')
    script(src='js/oo/reportmanager.js')
    script(src='js/oo/routinemanager.js')
    script(src='js/oo/documentmanager.js')
    script(src='js/oo/dialogs.js')
    script(src='js/oo/workspace.js')

    script(type='text/javascript', src='js/plugins/materialize/materialize-0.97.6.min.js')
    script(type='text/javascript', src='js/plugins/perfect-scrollbar/perfect-scrollbar.min.js')
    script(type='text/javascript', src='js/plugins/app/app.js')
    script(type='text/javascript', src="js/plugins/slickgrid/jquery.event.drag-2.2.js")
    //script(type='text/javascript', src="js/plugins/slickgrid/slick.core.js")
    //script(type='text/javascript', src="js/plugins/slickgrid/slick.grid.js")
    //script(type='text/javascript', src="js/plugins/slickgrid/slick.remotemodel.js")

    script(src='js/window_test.js')

    script.
        $(document).ready(function () {
            let oo = require('openorange')
            //$('body').html(oo.ui.templates.get("workspace body").createElement({}))
            window.addEventListener('keyup', function (event) {
                if (event.ctrlKey && event.key == 'f') $('#OOSearch').focus();
            })

            $('#OOSearch').focus(function () {
                $(this).select();
            })
            let $search = $('#OOSearch');
            //let search_suggestions = [];
            var awesomplete = new Awesomplete($search[0], {
                minChars: 1,
                autoFirst: true,
                data: function (item, input) {
                    return {label: item.label, value: item.label, item: item};
                }
            });

            $search.on("keyup", function (event) {
                if (event.key == 'ArrowDown' || event.key == 'ArrowUp' || event.keyCode == 13) return false;
                oo.explorer.search(this.value)
                        .then(function (results) {
                            //search_suggestions = results;
                            //_.each(search_suggestions, function (item, idx) {item.position = idx});
                            awesomplete.list = results;
                        })
            });


            $search[0].addEventListener("awesomplete-select", function (e) {
                let datum = e.text.item.item;
                console.log(datum);
                var wnd = null;
                switch (datum.type) {
                    case 'Record Class':
                        console.log(datum.access)
                        wnd = oo.classmanager.getClass(datum.access).new();
                        break;
                    case 'Report':
                        wnd = oo.classmanager.getClass(datum.name).new();
                        break;
                    case 'Routine':
                        wnd = oo.classmanager.getClass(datum.name).new();
                        break;
                }
                if (wnd != null) {
                    wnd.open()
                    wnd.setFocus()
                }
            });
        })
